<li id="<%= feed_item.id %>">
  <%= link_to gravatar_for(feed_item.user), feed_item.user %>
  <div  class="user">
      <%= link_to feed_item.user.name, feed_item.user %>
      <small>@<%= feed_item.user.screen_name %></small>
  </div>
  <%= render 'shared/post_info', object: feed_item %>
</li>
